* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}
.app {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10;
}

.app::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: url("../img/background.jpg");
  background-size: cover;
  filter: blur(2px);
}
.app::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  background: url("../img/rain.png");
  animation: rain 0.7s infinite linear;
}
@keyframes rain {
  0% {
    background-position: 10% 0;
  }

  100% {
    background-position: 40% 300%;
  }
}

/* NEW */

.card {
  margin: 20px;
  width: 320px;
  height: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  z-index: 100;
  -webkit-box-shadow: 0px 0px 55px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 55px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 55px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 5vh;
}

.card__image .card__title {
  background: url("../img/card_img.jpg");
  height: 190px;
  background-size: cover;
  background-position: 10% 20%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
.card__image .card__title::after {
  background: rgba(0, 0, 0, 0.3);
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card__image h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 2.8rem;
  z-index: 10;
  font-weight: 700;
  color: #fff;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0004);
  text-shadow: 3px 3px rgb(143, 165, 172);
}

.card__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
  position: relative;
}

.form__input {
  width: 90%;
  padding: 10px;
  outline: none;
  font-size: 18px;
  margin: 0 0 10px 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.form__input > input {
  padding: 10px;
  outline: none;
  font-size: 18px;
  margin: 0 0 10px 0 !important;
  border: none;
  border-bottom: 1px solid black;
}
.icon__valid {
  color: rgb(24, 177, 24) !important;
}

.todoList {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  height: 24vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.card__deleteCard {
  z-index: 1000;
  right: 5px;
  top: 5px;
  font-size: 40px !important;
  position: absolute;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.6s ease-in-out !important;
}
.card__deleteCard:hover {
  transition: 0.6 ease-in-out !important;
  color: #b25654;
  transform: scale(1.11);
}
.card__deleteCard:before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.6 ease-in-out !important;
  color: linear-gradient(90deg, transparent, #fff, transparent);
}

.card__deleteCard:hover:before {
  left: 100%;
  transition: 0.6 ease-in-out !important;
}
.card__deleteAll {
  cursor: pointer;
  top: 265px !important;
  width: 50%;
  position: absolute !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.form__image {
  display: none;
  height: 20px;
  cursor: pointer;
}
.form__submit {
  background-color: transparent;
  padding: 5px 7px;
  border: none;
  transition: 0.5s ease-in-out;
  border-radius: 50%;
  outline: none;
}
.form__submit:hover {
  transition: 0.5s ease-in-out;
  background: rgb(156, 247, 156);
}
.card__deleteAll {
  /* Font & Text */
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  letter-spacing: 0.39998px;
  line-height: 24.5px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: bold;

  /* Color & Background */
  background-color: rgb(197, 17, 98);
  color: rgb(255, 255, 255);

  /* Box */
  height: 36px;
  width: 320px;
  border: 0px none rgb(255, 255, 255);
  border-top: 0px none rgb(255, 255, 255);
  border-right: 0px none rgb(255, 255, 255);
  border-bottom: 0px none rgb(255, 255, 255);
  border-left: 0px none rgb(255, 255, 255);

  /* Effects */
  transform: none;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    border 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0px 0 10px;
  border-radius: 360px;
  position: relative;
}

.todo__label {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 23px;
  transition: 0.5s ease-in-out;
}
.todo:hover {
  transition: 0.5s ease-in-out;
  background: #efeff0;
}

.todo__input {
  flex: 0.1;
  height: 30px;
  position: relative;
  cursor: pointer !important;
}
input[type="checkbox"]:checked {
  opacity: 0.5;
}

.checked {
  color: gray;
  text-decoration: line-through;
  text-decoration-thickness: from-font;
}

.todo__edit {
  border: none;
  font-size: 20px;
  outline: none;
  margin-left: 15px;
  width: 100%;
  flex: 0.8;
  font-weight: 800;
  position: relative;
  border-radius: 360px;
  padding: 0 10px 0 10px;
  background: transparent;
}

.todo__edit:focus {
  margin-left: 15px;
  width: 100%;
  flex: 0.8;
  font-weight: 800;
  position: relative;
}
.todoIcon {
  height: 23px;
  flex: 0.2 !important;
  transition: 0.5s ease-in-out !important;
}

.todoIcon--delete:hover {
  transform: scale(1.1) !important;
  cursor: pointer !important;
  color: red !important;
  transition: 0.5s ease-in-out !important;
}

.todoIcon--confirm {
  transition: 0.5s ease-in-out !important;
  color: rgb(39, 91, 17) !important;
}
.todoIcon--confirm:hover {
  transform: scale(1.1) !important;
  cursor: pointer !important;
  transition: 0.5s ease-in-out !important;
}

.app__button {
  color: #fff;
  background-color: #f50057;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}
.deleteAll {
  display: none;
}

/* MODAL */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.app__newList  {
  height: 10px !important;
  font-size: 10px !important;
}

.app__buttons {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 10px;
  transition: all ease-in-out 0.5s;
  top: 10px;
  left: 0px;
  width: 100%;
  flex-direction: row;
}
.app__button {
  margin: 0 10px 0 10px !important;
}

.form__newList {
  flex-direction: column;
  justify-content: space-evenly;
}
.form__newList > input {
  width: 100%;
}

@media (max-width: 768px) {
  .buttons {
    display: flex;
  }
  .modal-content {
    width: 80%;
  }
}

.closeBtn {
  position: absolute;
  z-index: 100;
  height: 35px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition: 0.6s ease-in-out !important;
}
.closeBtn:hover {
  transform: scale(1.1);
  transition: 0.6s ease-in-out !important;
}
