.app {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10;
}

.app::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: url("./assets/img/background.jpg");
  background-size: cover;
  filter: blur(2px);
}
.app::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  background: url("./assets/img/rain.png");
  animation: rain 0.7s infinite linear;
}
@keyframes rain {
  0% {
    background-position: 10% 0;
  }

  100% {
    background-position: 40% 300%;
  }
}

.app__buttons {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 10vh;
  transition: all ease-in-out 0.5s;
  top: 10px;
  left: 0px;
  width: 100%;
  flex-direction: row;
}
.app__button {
  margin: 0 10px 0 10px !important;
}
